<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
     <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>

     <script>
       // Your web app's Firebase configuration
       var firebaseConfig = {
         apiKey: "AIzaSyBAKNniWF4psdXPjmpGJ1B1ZurICgTy5sE",
         authDomain: "my-apps-2660a.firebaseapp.com",
         databaseURL: "https://my-apps-2660a.firebaseio.com",
         projectId: "my-apps-2660a",
         storageBucket: "my-apps-2660a.appspot.com",
         messagingSenderId: "261985294091",
         appId: "1:261985294091:web:8a5efcd13ab458a576b40e",
         measurementId: "G-PFCC72DX37"
       };
       // Initialize Firebase
       firebase.initializeApp(firebaseConfig);
       firebase.analytics();
     </script>
